<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
        <add key="Product1" value="binbo" />
        <add key="Product2" value="croasant" />
        <add key="Product3" value="donuts" />
		<add key="Product4" value="ogia" />
        <add key="Product5" value="pastela" />
		<add key="Product6" value="sandwich" />
		<add key="binbo" value="16" />
        <add key="croasant" value="20.3" />
        <add key="donuts" value="18" />
	    <add key="ogia" value="20.3" />
        <add key="pastela" value="18" />
	    <add key="sandwich" value="18" />
    </appSettings>
</configuration>
