<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
        <add key="Product1" value="anana" />
        <add key="Product2" value="brokolia" />
        <add key="Product3" value="marrubia" />
		<add key="Product4" value="gereziak" />
        <add key="Product5" value="limoiak" />
		<add key="Product6" value="mahatsa" />
		<add key="anana" value="8" />
        <add key="brokolia" value="5.2" />
        <add key="gereziak" value="12" />
	    <add key="limoiak" value="20.3" />
        <add key="mahatsa" value="9" />
	    <add key="marrubia" value="16" />
    </appSettings>
</configuration>
