<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
        <add key="Product1" value="istarrak" />
        <add key="Product2" value="kostila" />
        <add key="Product3" value="odolkia" />
		<add key="Product4" value="oilaskoa" />
        <add key="Product5" value="txorizoa" />
		<add key="Product6" value="txuleta" />
		<add key="istarrak" value="16" />
        <add key="kostila" value="20.3" />
        <add key="odolkia" value="18" />
	    <add key="oilaskoa" value="20.3" />
        <add key="txorizoa" value="18" />
	    <add key="txuleta" value="18" />
    </appSettings>
</configuration>
