<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
        <add key="Product1" value="bacon" />
        <add key="Product2" value="jamonyor" />
        <add key="Product3" value="odolkia" />
		<add key="Product4" value="salami" />
        <add key="Product5" value="txorizoa" />
		<add key="Product6" value="urdaiazpikoa" />
		<add key="bacon" value="11" />
        <add key="jamonyor" value="9" />
        <add key="odolkia" value="12" />
	    <add key="salami" value="8.3" />
        <add key="txorizoa" value="9" />
	    <add key="urdaiazpikoa" value="35" />
    </appSettings>
</configuration>
